In [1]:
from common import g2json as gd
import Quandl as q
import pandas as pd
from datetime import date 
from datetime import timedelta
import logging
import sys
import MySQLdb

FORMAT = '%(asctime)-15s %(levelname)s %(message)s'
logger = logging.getLogger(__name__)
logger.setLevel(logging.DEBUG)

ch = logging.StreamHandler()
ch.setLevel(logging.DEBUG)
formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')
ch.setFormatter(formatter)
logger.addHandler(ch)

In [2]:
def get_symbols():
    """
    -----------------------------------------------------------------------
        look up symbols from Google Doc
    -----------------------------------------------------------------------
    """
    key = "1Vbgw4yw1crruuH05aDSHXBvD_Bb_Tq47Fs04MNJVDk4"
    sheet = "Symbols"

    symbols = pd.read_json(gd.get_gdoc(key, sheet, return_json=True))

    return symbols

In [3]:
def get_data(symbols, start_date):

    """ 
    -----------------------------------------------------------------------
        gets Quandl data for each symbol
    ----------------------------------------------------------------------- 
    """ 

    data = None
    for i, row in symbols.iterrows():

        month = "1"
        search = "{0}/{1}_{2}{3}".format(row.database, row.source, row.symbol, month)

        frequency = "daily"

        logger.info('requesting {0} data for {1} from {2} on from quandl'.format(frequency, row.symbol, start_date))	

        df = q.get(search, authtoken="xkXtzxzRcDyizWAV9r3_", 
                   collapse=frequency,
                   sort_order="asc", 
                   trim_start=start_date)

        df['Symbol'] = row.symbol
        df['Code'] = row.code
        if 'Open Interest' in df.columns:
            df=df.rename(columns = {'Open Interest':'OI'})
        
        if 'Prev. Day Open Interest' in df.columns:
            df=df.rename(columns = {'Prev. Day Open Interest':'Prev_OI'})


        if (data is not None):        
            data = data.append(df, ignore_index=False)
            logger.info('appending {0} {1}, {2} rows ({3})'.format(row.contractname, df.Symbol[0], len(df.index), len(data.index)))
        else:
            # first time around?
            data = df
            logger.info('initializing {0} {1}, {2} rows ({3})'.format(row.contractname, df.Symbol[0], len(df.index), len(data.index)))     

    return data

In [4]:
def get_db():

    # change your server, login and db
    return MySQLdb.connect("localhost","root","","calogica" )

In [5]:
def trunc_data(data, table_name, key, index):

    groups = data.groupby(key)

    db = get_db()
    c = db.cursor()
    for name, group in groups:

        index_start = group.index.min().date()
        del_cmd = "delete from {0} where {1} ='{2}' and {3} >= '{4}'".format(table_name, key, name, index, index_start)
        print del_cmd

        c.execute(del_cmd)
        db.commit()
        
    c.close()
    db.close()

In [6]:
def save_data(data, table_name, index, append=False):

    db = get_db()
    if db:
        if append:
            data.to_sql(con=db, name=table_name, index=index, if_exists='append', flavor='mysql')

        else:

            data.to_sql(con=db, name=table_name, index=index, if_exists='replace', flavor='mysql')

        # magically all the dataz are in there
        tbl = pd.read_sql('select * from {0};'.format(table_name), con=db)

        db.close()

    return tbl

In [7]:
trading_days = 100.0
days = trading_days/5.0*7
d = date.today() - timedelta(days=days)
start_date = d.strftime('%Y-%m-%d')
start_date

'2014-12-13'

In [8]:
symbols = get_symbols()

In [9]:
db = get_db()
db.close()

In [10]:
save_data(symbols, "symbols", False, False)

/Users/claus/venv/lib/python2.7/site-packages/pandas/io/sql.py:588: FutureWarning: The 'mysql' flavor with DBAPI connection is deprecated and will be removed in future versions. MySQL will be further supported with SQLAlchemy engines.
  warnings.warn(_MYSQL_WARNING, FutureWarning)

,__rowid__,code,contractmonths,contractname,database,exchange,market,source,symbol
0,cokwr,ICE_CC,HKNUZ,Cocoa Futures,CHRIS,ICE,Agricultural,ICE,CC
1,cpzh4,ICE_KC,HKNUZ,Coffee C Futures,CHRIS,ICE,Agricultural,ICE,KC
2,cre1l,CME_C,HKNUZ,Corn Futures,CHRIS,CBT,Agricultural,CME,C
3,chk2m,ICE_CT,HKNVZ,Cotton No. 2 Futures,CHRIS,ICE,Agricultural,ICE,CT
4,ciyn3,CME_FC,FHJKQUVX,Feeder Cattle Futures,CHRIS,CME,Agricultural,CME,FC
5,ckd7g,CME_LN,GJKMNQVZ,Lean Hog Futures,CHRIS,CME,Agricultural,CME,LN
6,clrrx,CME_LC,GJMQVZ,Live Cattle Futures,CHRIS,CME,Agricultural,CME,LC
7,cyevm,CME_O,HKNUZ,Oats Futures,CHRIS,CBT,Agricultural,CME,O
8,cztg3,ICE_OJ,FHKNUX,Orange Juice Futures,CHRIS,ICE,Agricultural,ICE,OJ
9,d180g,CME_LB,FHKNUX,Random Length Lumber Futures,CHRIS,CME,Agricultural,CME,LB
10,d2mkx,CME_S,FHKNQUX,Soybean Futures,CHRIS,CBT,Agricultural,CME,S
11,cssly,CME_SM,FHKNQUVZ,Soybean Meal Futures,CHRIS,CBT,Agricultural,CME,SM
12,cu76f,CME_BO,FHKNQUVZ,Soybean Oil Futures,CHRIS,CBT,Agricultural,CME,BO
13,cvlqs,ICE_SB,HKNV,Sugar No. 11 Futures,CHRIS,ICE,Agricultural,ICE,SB
14,cx0b9,CME_W,HKNUZ,Wheat Futures,CHRIS,CBT,Agricultural,CME,W
15,d9ney,CME_AD,HMUZ,Australian Dollar Futures,CHRIS,CME,Currencies,CME,AD
16,db1zf,CME_BP,HMUZ,British Pound Futures,CHRIS,CME,Currencies,CME,BP
17,dcgjs,CME_CD,HMUZ,Canadian Dollar Futures,CHRIS,CME,Currencies,CME,CD
18,ddv49,CME_EC,HMUZ,Euro FX Futures,CHRIS,CME,Currencies,CME,EC
19,d415a,CME_JY,HMUZ,Japanese Yen Futures,CHRIS,CME,Currencies,CME,JY
20,d5fpr,CME_MP,FGHJKMNQUVXZ,Mexican Peso Futures,CHRIS,CME,Currencies,CME,MP
21,d6ua4,CME_NE,HMUZ,New Zealand Dollar Futures,CHRIS,CME,Currencies,CME,NE
22,d88ul,CME_SF,HMUZ,Swiss Franc Futures,CHRIS,CME,Currencies,CME,SF
23,dkvya,ICE_DX,MUZ,US Dollar Index Futures,CHRIS,ICE,Currencies,ICE,DX
24,dmair,CME_BB,FGHJKMNQUVXZ,Brent Crude Oil Futures,CHRIS,NYMEX,Energy,CME,BB
25,dnp34,CME_CL,FGHJKMNQUVXZ,Crude Oil Futures,CHRIS,NYMEX,Energy,CME,CL
26,dp3nl,CME_QG,FGHJKMNQUVXZ,E-mini Natural Gas Futures,CHRIS,NYMEX,Energy,CME,QG
27,df9om,ICE_O,FGHJKMNQUVXZ,Heating Oil Futures,CHRIS,ICE,Energy,ICE,O
28,dgo93,CME_RB,FGHJKMNQUVXZ,RBOB Gasoline Physical Futures,CHRIS,NYMEX,Energy,CME,RB
29,di2tg,CME_YM,HMUZ,E-mini Dow ($5) Futures,CHRIS,CBT,Equities,CME,YM
30,djhdx,CME_NQ,HMUZ,E-mini NASDAQ 100 Futures,CHRIS,CME,Equities,CME,NQ
31,dw4je,CME_ES,HMUZ,E-mini S&P 500 Futures,CHRIS,CME,Equities,CME,ES
32,dxj3v,CME_NK,HMUZ,Nikkei/USD Futures,CHRIS,CME,Equities,CME,NK
33,dyxo8,ICE_TF,MUZ,Russell 2000 Index Mini Futures,CHRIS,ICE,Equities,ICE,TF
34,e0c8p,CME_HG,FGHJKMNQUVXZ,Copper Futures,CHRIS,CEC,Metals,CME,HG
35,dqi9q,CME_GC,GHJKMQVZ,Gold Futures,CHRIS,CEC,Metals,CME,GC
36,drwu7,CME_PA,HJKMUZ,Palladium Futures,CHRIS,NYMEX,Metals,CME,PA
37,dtbek,CME_PL,FHJKNV,Platinum Futures,CHRIS,NYMEX,Metals,CME,PL
38,dupz1,CME_SI,FHJKNUZ,Silver Futures,CHRIS,CEC,Metals,CME,SI
39,e7d2q,CME_TY,HMUZ,10 Yr Note Futures,CHRIS,CBT,Rates,CME,TY
40,e8rn7,CME_TU,HMUZ,2 Yr Note Futures,CHRIS,CBT,Rates,CME,TU
41,ea67k,CME_FV,HMUZ,5 Yr Note Futures,CHRIS,CBT,Rates,CME,FV
42,ebks1,CME_US,HMUZ,U.S. Treasury Bond Futures,CHRIS,CBT,Rates,CME,US

In [11]:
data = get_data(symbols, start_date)

2015-05-02 05:40:23,869 - __main__ - INFO - requesting daily data for CC from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for CC from 2014-12-13 on from quandl
2015-05-02 05:40:24,211 - __main__ - INFO - initializing Cocoa Futures CC, 95 rows (95)
INFO:__main__:initializing Cocoa Futures CC, 95 rows (95)
2015-05-02 05:40:24,212 - __main__ - INFO - requesting daily data for KC from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for KC from 2014-12-13 on from quandl
2015-05-02 05:40:24,510 - __main__ - INFO - appending Coffee C Futures KC, 95 rows (190)
INFO:__main__:appending Coffee C Futures KC, 95 rows (190)
2015-05-02 05:40:24,512 - __main__ - INFO - requesting daily data for C from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for C from 2014-12-13 on from quandl
2015-05-02 05:40:24,804 - __main__ - INFO - appending Corn Futures C, 96 rows (286)
INFO:__main__:appending Corn Futures C, 96 rows (286)
2015-05-02 05:40:24,805 - __main__ - INFO - requesting daily data for CT from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for CT from 2014-12-13 on from quandl
2015-05-02 05:40:25,751 - __main__ - INFO - appending Cotton No. 2 Futures CT, 95 rows (381)
INFO:__main__:appending Cotton No. 2 Futures CT, 95 rows (381)
2015-05-02 05:40:25,752 - __main__ - INFO - requesting daily data for FC from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for FC from 2014-12-13 on from quandl
2015-05-02 05:40:26,050 - __main__ - INFO - appending Feeder Cattle Futures FC, 92 rows (473)
INFO:__main__:appending Feeder Cattle Futures FC, 92 rows (473)
2015-05-02 05:40:26,051 - __main__ - INFO - requesting daily data for LN from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for LN from 2014-12-13 on from quandl
2015-05-02 05:40:26,351 - __main__ - INFO - appending Lean Hog Futures LN, 95 rows (568)
INFO:__main__:appending Lean Hog Futures LN, 95 rows (568)
2015-05-02 05:40:26,352 - __main__ - INFO - requesting daily data for LC from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for LC from 2014-12-13 on from quandl
2015-05-02 05:40:26,652 - __main__ - INFO - appending Live Cattle Futures LC, 94 rows (662)
INFO:__main__:appending Live Cattle Futures LC, 94 rows (662)
2015-05-02 05:40:26,654 - __main__ - INFO - requesting daily data for O from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for O from 2014-12-13 on from quandl
2015-05-02 05:40:26,940 - __main__ - INFO - appending Oats Futures O, 91 rows (753)
INFO:__main__:appending Oats Futures O, 91 rows (753)
2015-05-02 05:40:26,942 - __main__ - INFO - requesting daily data for OJ from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for OJ from 2014-12-13 on from quandl
2015-05-02 05:40:27,904 - __main__ - INFO - appending Orange Juice Futures OJ, 95 rows (848)
INFO:__main__:appending Orange Juice Futures OJ, 95 rows (848)
2015-05-02 05:40:27,905 - __main__ - INFO - requesting daily data for LB from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for LB from 2014-12-13 on from quandl
2015-05-02 05:40:28,194 - __main__ - INFO - appending Random Length Lumber Futures LB, 91 rows (939)
INFO:__main__:appending Random Length Lumber Futures LB, 91 rows (939)
2015-05-02 05:40:28,196 - __main__ - INFO - requesting daily data for S from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for S from 2014-12-13 on from quandl
2015-05-02 05:40:28,480 - __main__ - INFO - appending Soybean Futures S, 95 rows (1034)
INFO:__main__:appending Soybean Futures S, 95 rows (1034)
2015-05-02 05:40:28,482 - __main__ - INFO - requesting daily data for SM from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for SM from 2014-12-13 on from quandl
2015-05-02 05:40:29,129 - __main__ - INFO - appending Soybean Meal Futures SM, 95 rows (1129)
INFO:__main__:appending Soybean Meal Futures SM, 95 rows (1129)
2015-05-02 05:40:29,130 - __main__ - INFO - requesting daily data for BO from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for BO from 2014-12-13 on from quandl
2015-05-02 05:40:29,422 - __main__ - INFO - appending Soybean Oil Futures BO, 95 rows (1224)
INFO:__main__:appending Soybean Oil Futures BO, 95 rows (1224)
2015-05-02 05:40:29,424 - __main__ - INFO - requesting daily data for SB from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for SB from 2014-12-13 on from quandl
2015-05-02 05:40:29,720 - __main__ - INFO - appending Sugar No. 11 Futures SB, 94 rows (1318)
INFO:__main__:appending Sugar No. 11 Futures SB, 94 rows (1318)
2015-05-02 05:40:29,721 - __main__ - INFO - requesting daily data for W from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for W from 2014-12-13 on from quandl
2015-05-02 05:40:30,015 - __main__ - INFO - appending Wheat Futures W, 95 rows (1413)
INFO:__main__:appending Wheat Futures W, 95 rows (1413)
2015-05-02 05:40:30,017 - __main__ - INFO - requesting daily data for AD from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for AD from 2014-12-13 on from quandl
2015-05-02 05:40:30,318 - __main__ - INFO - appending Australian Dollar Futures AD, 95 rows (1508)
INFO:__main__:appending Australian Dollar Futures AD, 95 rows (1508)
2015-05-02 05:40:30,319 - __main__ - INFO - requesting daily data for BP from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for BP from 2014-12-13 on from quandl
2015-05-02 05:40:30,605 - __main__ - INFO - appending British Pound Futures BP, 95 rows (1603)
INFO:__main__:appending British Pound Futures BP, 95 rows (1603)
2015-05-02 05:40:30,606 - __main__ - INFO - requesting daily data for CD from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for CD from 2014-12-13 on from quandl
2015-05-02 05:40:30,900 - __main__ - INFO - appending Canadian Dollar Futures CD, 95 rows (1698)
INFO:__main__:appending Canadian Dollar Futures CD, 95 rows (1698)
2015-05-02 05:40:30,901 - __main__ - INFO - requesting daily data for EC from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for EC from 2014-12-13 on from quandl
2015-05-02 05:40:31,189 - __main__ - INFO - appending Euro FX Futures EC, 95 rows (1793)
INFO:__main__:appending Euro FX Futures EC, 95 rows (1793)
2015-05-02 05:40:31,191 - __main__ - INFO - requesting daily data for JY from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for JY from 2014-12-13 on from quandl
2015-05-02 05:40:32,203 - __main__ - INFO - appending Japanese Yen Futures JY, 95 rows (1888)
INFO:__main__:appending Japanese Yen Futures JY, 95 rows (1888)
2015-05-02 05:40:32,204 - __main__ - INFO - requesting daily data for MP from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for MP from 2014-12-13 on from quandl
2015-05-02 05:40:32,496 - __main__ - INFO - appending Mexican Peso Futures MP, 93 rows (1981)
INFO:__main__:appending Mexican Peso Futures MP, 93 rows (1981)
2015-05-02 05:40:32,497 - __main__ - INFO - requesting daily data for NE from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for NE from 2014-12-13 on from quandl
2015-05-02 05:40:32,802 - __main__ - INFO - appending New Zealand Dollar Futures NE, 95 rows (2076)
INFO:__main__:appending New Zealand Dollar Futures NE, 95 rows (2076)
2015-05-02 05:40:32,803 - __main__ - INFO - requesting daily data for SF from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for SF from 2014-12-13 on from quandl
2015-05-02 05:40:33,086 - __main__ - INFO - appending Swiss Franc Futures SF, 95 rows (2171)
INFO:__main__:appending Swiss Franc Futures SF, 95 rows (2171)
2015-05-02 05:40:33,087 - __main__ - INFO - requesting daily data for DX from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for DX from 2014-12-13 on from quandl
2015-05-02 05:40:33,384 - __main__ - INFO - appending US Dollar Index Futures DX, 97 rows (2268)
INFO:__main__:appending US Dollar Index Futures DX, 97 rows (2268)
2015-05-02 05:40:33,385 - __main__ - INFO - requesting daily data for BB from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for BB from 2014-12-13 on from quandl
2015-05-02 05:40:33,695 - __main__ - INFO - appending Brent Crude Oil Futures BB, 92 rows (2360)
INFO:__main__:appending Brent Crude Oil Futures BB, 92 rows (2360)
2015-05-02 05:40:33,696 - __main__ - INFO - requesting daily data for CL from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for CL from 2014-12-13 on from quandl
2015-05-02 05:40:33,984 - __main__ - INFO - appending Crude Oil Futures CL, 95 rows (2455)
INFO:__main__:appending Crude Oil Futures CL, 95 rows (2455)
2015-05-02 05:40:33,985 - __main__ - INFO - requesting daily data for QG from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for QG from 2014-12-13 on from quandl
2015-05-02 05:40:34,278 - __main__ - INFO - appending E-mini Natural Gas Futures QG, 91 rows (2546)
INFO:__main__:appending E-mini Natural Gas Futures QG, 91 rows (2546)
2015-05-02 05:40:34,279 - __main__ - INFO - requesting daily data for O from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for O from 2014-12-13 on from quandl
2015-05-02 05:40:34,592 - __main__ - INFO - appending Heating Oil Futures O, 96 rows (2642)
INFO:__main__:appending Heating Oil Futures O, 96 rows (2642)
2015-05-02 05:40:34,593 - __main__ - INFO - requesting daily data for RB from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for RB from 2014-12-13 on from quandl
2015-05-02 05:40:34,885 - __main__ - INFO - appending RBOB Gasoline Physical Futures RB, 94 rows (2736)
INFO:__main__:appending RBOB Gasoline Physical Futures RB, 94 rows (2736)
2015-05-02 05:40:34,887 - __main__ - INFO - requesting daily data for YM from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for YM from 2014-12-13 on from quandl
2015-05-02 05:40:35,183 - __main__ - INFO - appending E-mini Dow ($5) Futures YM, 93 rows (2829)
INFO:__main__:appending E-mini Dow ($5) Futures YM, 93 rows (2829)
2015-05-02 05:40:35,184 - __main__ - INFO - requesting daily data for NQ from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for NQ from 2014-12-13 on from quandl
2015-05-02 05:40:35,478 - __main__ - INFO - appending E-mini NASDAQ 100 Futures NQ, 95 rows (2924)
INFO:__main__:appending E-mini NASDAQ 100 Futures NQ, 95 rows (2924)
2015-05-02 05:40:35,479 - __main__ - INFO - requesting daily data for ES from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for ES from 2014-12-13 on from quandl
2015-05-02 05:40:35,786 - __main__ - INFO - appending E-mini S&P 500 Futures ES, 95 rows (3019)
INFO:__main__:appending E-mini S&P 500 Futures ES, 95 rows (3019)
2015-05-02 05:40:35,787 - __main__ - INFO - requesting daily data for NK from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for NK from 2014-12-13 on from quandl
2015-05-02 05:40:36,079 - __main__ - INFO - appending Nikkei/USD Futures NK, 95 rows (3114)
INFO:__main__:appending Nikkei/USD Futures NK, 95 rows (3114)
2015-05-02 05:40:36,080 - __main__ - INFO - requesting daily data for TF from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for TF from 2014-12-13 on from quandl
2015-05-02 05:40:36,383 - __main__ - INFO - appending Russell 2000 Index Mini Futures TF, 97 rows (3211)
INFO:__main__:appending Russell 2000 Index Mini Futures TF, 97 rows (3211)
2015-05-02 05:40:36,384 - __main__ - INFO - requesting daily data for HG from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for HG from 2014-12-13 on from quandl
2015-05-02 05:40:36,688 - __main__ - INFO - appending Copper Futures HG, 92 rows (3303)
INFO:__main__:appending Copper Futures HG, 92 rows (3303)
2015-05-02 05:40:36,689 - __main__ - INFO - requesting daily data for GC from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for GC from 2014-12-13 on from quandl
2015-05-02 05:40:36,979 - __main__ - INFO - appending Gold Futures GC, 95 rows (3398)
INFO:__main__:appending Gold Futures GC, 95 rows (3398)
2015-05-02 05:40:36,980 - __main__ - INFO - requesting daily data for PA from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for PA from 2014-12-13 on from quandl
2015-05-02 05:40:37,274 - __main__ - INFO - appending Palladium Futures PA, 95 rows (3493)
INFO:__main__:appending Palladium Futures PA, 95 rows (3493)
2015-05-02 05:40:37,276 - __main__ - INFO - requesting daily data for PL from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for PL from 2014-12-13 on from quandl
2015-05-02 05:40:37,569 - __main__ - INFO - appending Platinum Futures PL, 95 rows (3588)
INFO:__main__:appending Platinum Futures PL, 95 rows (3588)
2015-05-02 05:40:37,571 - __main__ - INFO - requesting daily data for SI from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for SI from 2014-12-13 on from quandl
2015-05-02 05:40:37,881 - __main__ - INFO - appending Silver Futures SI, 95 rows (3683)
INFO:__main__:appending Silver Futures SI, 95 rows (3683)
2015-05-02 05:40:37,882 - __main__ - INFO - requesting daily data for TY from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for TY from 2014-12-13 on from quandl
2015-05-02 05:40:38,180 - __main__ - INFO - appending 10 Yr Note Futures TY, 95 rows (3778)
INFO:__main__:appending 10 Yr Note Futures TY, 95 rows (3778)
2015-05-02 05:40:38,181 - __main__ - INFO - requesting daily data for TU from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for TU from 2014-12-13 on from quandl
2015-05-02 05:40:38,469 - __main__ - INFO - appending 2 Yr Note Futures TU, 95 rows (3873)
INFO:__main__:appending 2 Yr Note Futures TU, 95 rows (3873)
2015-05-02 05:40:38,470 - __main__ - INFO - requesting daily data for FV from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for FV from 2014-12-13 on from quandl
2015-05-02 05:40:38,775 - __main__ - INFO - appending 5 Yr Note Futures FV, 95 rows (3968)
INFO:__main__:appending 5 Yr Note Futures FV, 95 rows (3968)
2015-05-02 05:40:38,777 - __main__ - INFO - requesting daily data for US from 2014-12-13 on from quandl
INFO:__main__:requesting daily data for US from 2014-12-13 on from quandl
2015-05-02 05:40:39,576 - __main__ - INFO - appending U.S. Treasury Bond Futures US, 95 rows (4063)
INFO:__main__:appending U.S. Treasury Bond Futures US, 95 rows (4063)

In [12]:
table_name = "prices"
key="Code"
index="Date"

In [13]:
data

,Block Volume,Change,Code,EFP Volume,EFS Volume,High,Last,Low,Open,Prev_OI,Settle,Symbol,Volume,Wave
Date,,,,,,,,,,,,,,
2014-12-15,NaN,16.00000,ICE_CC,276,NaN,2884.00000,NaN,2852.00000,2862.00000,90670,2873.00000,CC,7256,2868
2014-12-16,NaN,41.00000,ICE_CC,158,NaN,2926.00000,NaN,2885.00000,2890.00000,90374,2914.00000,CC,10748,2905
2014-12-17,NaN,1.00000,ICE_CC,113,NaN,2931.00000,NaN,2890.00000,2919.00000,91166,2915.00000,CC,8223,2913
2014-12-18,NaN,50.00000,ICE_CC,1434,NaN,2968.00000,NaN,2919.00000,2922.00000,91329,2965.00000,CC,16370,2953
2014-12-19,NaN,15.00000,ICE_CC,76,NaN,2990.00000,NaN,2952.00000,2965.00000,91163,2980.00000,CC,13020,2976
2014-12-22,NaN,6.00000,ICE_CC,311,NaN,2996.00000,NaN,2970.00000,2995.00000,92092,2986.00000,CC,6506,2986
2014-12-23,NaN,-20.00000,ICE_CC,489,NaN,2985.00000,NaN,2954.00000,2974.00000,92982,2966.00000,CC,6632,2970
2014-12-24,NaN,-2.00000,ICE_CC,540,NaN,2997.00000,NaN,2956.00000,2976.00000,93330,2964.00000,CC,3462,2981
2014-12-26,NaN,NaN,ICE_CC,NaN,NaN,2964.00000,NaN,2935.00000,2964.00000,93829,2941.00000,CC,2906,2945
2014-12-29,NaN,23.00000,ICE_CC,142,NaN,2987.00000,NaN,2935.00000,2962.00000,93441,2964.00000,CC,9052,2963
2014-12-30,NaN,8.00000,ICE_CC,430,NaN,2988.00000,NaN,2947.00000,2975.00000,94533,2972.00000,CC,7022,2973
2014-12-31,NaN,-62.00000,ICE_CC,605,NaN,2978.00000,NaN,2902.00000,2972.00000,94935,2910.00000,CC,11174,2921
2015-01-02,NaN,NaN,ICE_CC,600,NaN,2944.00000,NaN,2896.00000,2917.00000,95590,2927.00000,CC,10034,2917
2015-01-05,NaN,17.00000,ICE_CC,539,15,2954.00000,NaN,2909.00000,2933.00000,94569,2944.00000,CC,9240,2938
2015-01-06,NaN,-42.00000,ICE_CC,1042,25,2942.00000,NaN,2888.00000,2930.00000,95174,2902.00000,CC,10531,2912
2015-01-07,NaN,10.00000,ICE_CC,221,NaN,2923.00000,NaN,2899.00000,2911.00000,94074,2912.00000,CC,7232,2914
2015-01-08,NaN,74.00000,ICE_CC,384,NaN,3016.00000,NaN,2911.00000,2918.00000,94325,2986.00000,CC,23642,2972
2015-01-09,NaN,-18.00000,ICE_CC,3917,NaN,3003.00000,NaN,2956.00000,2998.00000,97466,2968.00000,CC,11484,2975
2015-01-12,NaN,26.00000,ICE_CC,489,NaN,3002.00000,NaN,2933.00000,2952.00000,92315,2994.00000,CC,7892,2982
2015-01-13,NaN,-3.00000,ICE_CC,317,31,3015.00000,NaN,2974.00000,2988.00000,92920,2991.00000,CC,9862,2996
2015-01-14,NaN,1.00000,ICE_CC,123,26,2998.00000,NaN,2957.00000,2984.00000,92684,2992.00000,CC,9930,2983
2015-01-15,NaN,-15.00000,ICE_CC,844,NaN,3003.00000,NaN,2955.00000,2960.00000,92604,2977.00000,CC,8428,2979
2015-01-16,NaN,-35.00000,ICE_CC,1109,NaN,2977.00000,NaN,2936.00000,2974.00000,91595,2942.00000,CC,10928,2947
2015-01-20,NaN,NaN,ICE_CC,509,NaN,2959.00000,NaN,2919.00000,2954.00000,88440,2925.00000,CC,10579,2934
2015-01-21,NaN,-73.00000,ICE_CC,1105,NaN,2921.00000,NaN,2840.00000,2919.00000,85782,2852.00000,CC,25532,2875
2015-01-22,NaN,-51.00000,ICE_CC,1491,NaN,2849.00000,NaN,2795.00000,2849.00000,82260,2801.00000,CC,22327,2813
2015-01-23,NaN,-46.00000,ICE_CC,1165,NaN,2801.00000,NaN,2754.00000,2785.00000,75270,2755.00000,CC,20885,2769
2015-01-26,NaN,-18.00000,ICE_CC,1057,38,2769.00000,NaN,2731.00000,2749.00000,69853,2737.00000,CC,13724,2747
2015-01-27,NaN,6.00000,ICE_CC,211,NaN,2754.00000,NaN,2728.00000,2743.00000,67027,2743.00000,CC,18154,2740
2015-01-28,NaN,-28.00000,ICE_CC,1312,300,2752.00000,NaN,2712.00000,2739.00000,66287,2715.00000,CC,16067,2726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-20,NaN,0.96875,CME_US,NaN,NaN,164.37500,164.03125,163.25000,163.28125,408935,164.15625,US,149808,NaN
2015-03-23,NaN,0.12500,CME_US,NaN,NaN,164.50000,164.25000,163.65625,164.21875,408285,164.03125,US,151064,NaN
2015-03-24,NaN,1.21875,CME_US,NaN,NaN,165.50000,164.71875,163.81250,163.93750,412580,165.25000,US,191460,NaN
2015-03-25,NaN,0.71875,CME_US,NaN,NaN,165.84375,164.56250,164.34375,165.25000,411472,164.53125,US,177201,NaN
2015-03-26,NaN,2.12500,CME_US,NaN,NaN,165.21875,162.78125,162.25000,164.34375,419763,162.40625,US,261258,NaN
2015-03-27,NaN,2.00000,CME_US,NaN,NaN,164.46875,163.06250,162.53125,162.84375,430826,164.40625,US,193040,NaN
2015-03-30,NaN,0.93750,CME_US,NaN,NaN,164.34375,163.71875,163.25000,164.06250,432523,163.46875,US,139866,NaN
2015-03-31,NaN,0.40625,CME_US,NaN,NaN,164.15625,163.93750,163.15625,163.71875,430926,163.87500,US,200583,NaN
2015-04-01,NaN,1.93750,CME_US,NaN,NaN,166.34375,166.06250,163.56250,164.03125,425860,165.81250,US,225635,NaN
2015-04-02,NaN,1.25000,CME_US,NaN,NaN,166.65625,166.00000,164.28125,166.00000,439790,164.56250,US,166412,NaN
2015-04-06,NaN,2.00000,CME_US,NaN,NaN,165.81250,163.62500,163.50000,165.75000,432137,163.75000,US,109192,NaN
2015-04-07,NaN,0.87500,CME_US,NaN,NaN,164.96875,163.96875,163.59375,163.93750,435726,164.62500,US,163013,NaN
2015-04-08,NaN,0.31250,CME_US,NaN,NaN,165.21875,164.68750,163.65625,164.87500,435215,164.93750,US,189978,NaN
2015-04-09,NaN,1.68750,CME_US,NaN,NaN,165.34375,165.21875,162.90625,164.65625,435600,163.25000,US,229925,NaN
2015-04-10,NaN,0.25000,CME_US,NaN,NaN,164.37500,163.93750,163.00000,163.18750,441466,163.50000,US,169827,NaN
2015-04-13,NaN,0.03125,CME_US,NaN,NaN,163.93750,162.87500,162.59375,163.46875,441961,163.46875,US,161835,NaN
2015-04-14,NaN,0.90625,CME_US,NaN,NaN,165.81250,164.40625,163.59375,163.65625,441589,164.37500,US,247489,NaN
2015-04-15,NaN,0.28125,CME_US,NaN,NaN,165.09375,164.62500,163.81250,164.46875,447213,164.09375,US,210015,NaN
2015-04-16,NaN,0.03125,CME_US,NaN,NaN,164.93750,163.68750,163.09375,164.40625,442423,164.12500,US,287561,NaN
2015-04-17,NaN,1.34375,CME_US,NaN,NaN,165.59375,165.06250,163.31250,163.65625,440857,165.46875,US,264352,NaN
2015-04-20,NaN,1.68750,CME_US,NaN,NaN,165.34375,163.68750,163.62500,164.90625,443263,163.78125,US,189671,NaN
2015-04-21,NaN,0.40625,CME_US,NaN,NaN,164.75000,164.62500,163.21875,163.93750,437230,163.37500,US,168510,NaN
2015-04-22,NaN,1.90625,CME_US,NaN,NaN,163.93750,161.43750,160.96875,163.46875,435381,161.46875,US,302064,NaN
2015-04-23,NaN,0.56250,CME_US,NaN,NaN,162.37500,161.78125,161.06250,161.40625,440991,162.03125,US,251024,NaN
2015-04-24,NaN,0.53125,CME_US,NaN,NaN,163.12500,162.56250,161.28125,161.65625,436081,162.56250,US,194158,NaN
2015-04-27,NaN,0.28125,CME_US,NaN,NaN,163.28125,163.18750,161.93750,162.78125,425956,162.84375,US,146643,NaN
2015-04-28,NaN,1.37500,CME_US,NaN,NaN,163.03125,161.75000,160.71875,162.84375,424128,161.46875,US,220116,NaN
2015-04-29,NaN,1.59375,CME_US,NaN,NaN,161.15625,160.12500,158.68750,160.65625,430925,159.87500,US,344067,NaN
2015-04-30,NaN,0.28125,CME_US,NaN,NaN,160.03125,159.59375,158.25000,159.59375,437437,159.59375,US,333863,NaN
2015-05-01,NaN,1.96875,CME_US,NaN,NaN,159.81250,157.59375,157.43750,159.68750,432411,157.62500,US,173872,NaN

In [14]:
table_name = "prices"
key="Code"
index="Date"
for i, row in symbols.iterrows():
    df_sym = data[data["Code"] == row['code']]
    trunc_data(df_sym, table_name, key, index)
    df_db = save_data(df_sym, table_name, index=True, append=True)

delete from prices where Code ='ICE_CC' and Date >= '2014-12-15'
delete from prices where Code ='ICE_KC' and Date >= '2014-12-15'
delete from prices where Code ='CME_C' and Date >= '2014-12-15'
delete from prices where Code ='ICE_CT' and Date >= '2014-12-15'
delete from prices where Code ='CME_FC' and Date >= '2014-12-15'
delete from prices where Code ='CME_LN' and Date >= '2014-12-15'
delete from prices where Code ='CME_LC' and Date >= '2014-12-15'
delete from prices where Code ='CME_O' and Date >= '2014-12-15'
delete from prices where Code ='ICE_OJ' and Date >= '2014-12-15'
delete from prices where Code ='CME_LB' and Date >= '2014-12-15'
delete from prices where Code ='CME_S' and Date >= '2014-12-15'
delete from prices where Code ='CME_SM' and Date >= '2014-12-15'
delete from prices where Code ='CME_BO' and Date >= '2014-12-15'
delete from prices where Code ='ICE_SB' and Date >= '2014-12-15'
delete from prices where Code ='CME_W' and Date >= '2014-12-15'
delete from prices where Code ='CME_AD' and Date >= '2014-12-15'
delete from prices where Code ='CME_BP' and Date >= '2014-12-15'
delete from prices where Code ='CME_CD' and Date >= '2014-12-15'
delete from prices where Code ='CME_EC' and Date >= '2014-12-15'
delete from prices where Code ='CME_JY' and Date >= '2014-12-15'
delete from prices where Code ='CME_MP' and Date >= '2014-12-15'
delete from prices where Code ='CME_NE' and Date >= '2014-12-15'
delete from prices where Code ='CME_SF' and Date >= '2014-12-15'
delete from prices where Code ='ICE_DX' and Date >= '2014-12-15'
delete from prices where Code ='CME_BB' and Date >= '2014-12-15'
delete from prices where Code ='CME_CL' and Date >= '2014-12-15'
delete from prices where Code ='CME_QG' and Date >= '2014-12-15'
delete from prices where Code ='ICE_O' and Date >= '2014-12-15'
delete from prices where Code ='CME_RB' and Date >= '2014-12-15'
delete from prices where Code ='CME_YM' and Date >= '2014-12-15'
delete from prices where Code ='CME_NQ' and Date >= '2014-12-15'
delete from prices where Code ='CME_ES' and Date >= '2014-12-15'
delete from prices where Code ='CME_NK' and Date >= '2014-12-15'
delete from prices where Code ='ICE_TF' and Date >= '2014-12-15'
delete from prices where Code ='CME_HG' and Date >= '2014-12-15'
delete from prices where Code ='CME_GC' and Date >= '2014-12-15'
delete from prices where Code ='CME_PA' and Date >= '2014-12-15'
delete from prices where Code ='CME_PL' and Date >= '2014-12-15'
delete from prices where Code ='CME_SI' and Date >= '2014-12-15'
delete from prices where Code ='CME_TY' and Date >= '2014-12-15'
delete from prices where Code ='CME_TU' and Date >= '2014-12-15'
delete from prices where Code ='CME_FV' and Date >= '2014-12-15'
delete from prices where Code ='CME_US' and Date >= '2014-12-15'

/Users/claus/venv/lib/python2.7/site-packages/pandas/io/sql.py:1309: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  warnings.warn(_SAFE_NAMES_WARNING)